@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins&display=swap');

body{
    background-color: #E0E0E0;
}
.main{
    padding-left: 3rem;
}
#txtArea-main{
font: 24px 'Poppins', sans-serif;
color: #595959;
position: relative;
top: 5rem;
left: 6rem;
width: 525px;
height: 426px;
padding: 3rem 3rem 0 4.5rem;
outline: none;
letter-spacing: 3px;
opacity: 80%;
border-color: #E5E8EF;
border: none;
border-radius: 30px;
background: #E5E8EF;
box-shadow: inset 20px 20px 60px #bebebe,
           inset -20px -20px 60px #ffffff;
}

.Encode{
    color: #728AB7;
outline: none;
border: none;
border-radius: 44px;
box-shadow:  7px 7px 6px #9b9b9b80,
             -7px -7px 6px #ffffff70;
}

.Decode{
    color: #82dbd5;
outline: none;
border-radius: 44px;
border: none;
box-shadow: inset 7px 7px 6px #9b9b9b50,
            inset -7px -7px 6px #ffffff40;
}

#enc{   
font-family: 'Poppins', sans-serif; 
font-size: 20px;
position: absolute;
width: 206px;
height: 50px;
left: 230px;
top: 590px;
background: transparent;
}

#dec{
 
font-family: 'Poppins', sans-serif;   
font-weight: 300;
font-size: 20px;
position: absolute;
width: 206px;
height: 50px;
left: 505px;
top: 590px;
background: transparent;
}
.container{
position: absolute;
width: 342px;
height: 565px;
left: 829px;
top: 50px;
display: grid;
grid-template-rows: 10px,repeat(2,1fr);
border-radius: 50px;
background: #e0e0e0;
box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;
}
h3{
font-family: 'Hammersmith One', sans-serif;
color: #595959;
opacity: 80%;
text-align: center;
margin: unset;
padding-top: 19px;
}

#txtArea-sec{
font-family: 'Poppins', sans-serif;
font-size: 15px;
color: #595959;
padding: 0 3rem 0 3rem; 
border: none;
outline: none;
background-color: transparent;
}
input[type="checkbox"]{
height: 50px;
width: 50px;
left: 80%;
-webkit-appearance: none;
background-color: transparent;
box-shadow: -3px -3px 15px #bebebe,
                3px 3px 15px #ffffff;
position: relative;
border-radius: 50%;
border: none;
outline: none;
display: flex;
align-items: center;
font-size: 20px;
justify-content: center;
}

input[type="checkbox"]::after{
font-family: FontAwesome;
content: '\f0c5';
color: #595959;
}
input[type="checkbox"]:checked{
    box-shadow: -3px -3px 10px #e0e0e0,
                3px 3px 3px #ffffff70,
    inset -3px -3px 50px #E0E0E080,
    inset 3px 3px 5px #59595950;
}

input[type="checkbox"]:checked::after{
  color: #2cc5bd;
}

img{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
#logo{
    position: absolute;
    padding-top: 1rem;
    width: 4rem;
    height: 4rem;
}
